body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    background-color: darkgoldenrod;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    position: relative;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0px 0px 20px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 80px;
}

.product {
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
}

.add-to-cart {
    position: absolute;
    width: 100%;
    background-color: darkgray;
    transition: all 0.3 ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
}

.product:hover .cart1,
.product:hover .cart2,
.product:hover .cart3 {
    bottom: 50px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
}